<div class="main">
    <div class="row" style="height: 100%;">
        <div class="col-md-3">
            <div class="logo-section">
              <h3 style="font-family: 'Lobster', cursive;">ClimaSphere</h3>
              <img src="/cloudy.png" alt="ClimaSphere Logo">
            </div>
          </div>
        <div class="col-md-3">
            <div class="address address-section">
              <div class="inner-address">
                <h3>ClimaSphere</h3>
                <p>Level 5, SkyTech Hub</p>
                <p>Plot No. 22, Innovation Drive</p>
                <p>Tech Valley, Bengaluru - 560103</p>
                <p>Karnataka, India</p>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="address address-section link-section">
              <div class="inner-address">
                <h3>Links</h3>
                <p [routerLink]="'/home'"><strong>Home</strong></p>
                <p [routerLink]="'/aqi'"><strong>Air Quality Index</strong></p>
                <p [routerLink]="'/maps'"><strong>Maps</strong></p>
                <p [routerLink]="'/about-us'"><strong>About US</strong></p>
              </div>
            </div>
        </div>
        <div class="col-md-3 social-media-section">
            <div class="social-media">
                <span><a href=""><i class="fa-brands fa-facebook"></i></a></span>
                <span><a href=""><i class="fa-brands fa-instagram"></i></a></span>
                <span><a href=""><i class="fa-brands fa-whatsapp"></i></a></span>
                <span><a href=""><i class="fa-brands fa-x-twitter"></i></a></span>
            </div>
        </div>
    </div>
</div>