<div class="loading-overlay" *ngIf="isLoading()">
  <i class="pi pi-spin pi-spinner" style="font-size: 3rem; color: white;"></i>
</div>
<p-messages class="message" [value]="messages()" />
<div class="main">
  <div class="container-fluid">
    <app-header></app-header>
    <div class="main-body">
      <div class="row">
        <div class="col-md-2 left-side">
          <div class="left-navbar">
            <div class="home icon-container" [routerLink]="'/home'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span>HOME</span><span><i class="icon fa-solid fa-house"></i></span></div>
            <div class="aqi icon-container" [routerLink]="'/aqi'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span>Air Quality</span><span><i class="fa-solid fa-wind"></i></span></div>
            <div class="map icon-container" [routerLink]="'/maps'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span>Maps</span><span><i class="fa-solid fa-map-location-dot"></i></span></div>
            <div class="about icon-container" [routerLink]="'/about-us'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span>About Us</span><span><i class="fa-solid fa-message"></i></span></div>
          </div>
        </div>
        <div class="col-md-10 sub-body">
          <router-outlet />
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>  
