<div class="main">
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="map-control glass-bg p-3 rounded">
            <label for="layer" class="form-label">Select Weather Map Layer:</label>
            <select
              class="form-select"
              id="layer"
              [(ngModel)]="selectedLayer"
              (change)="changeLayer()"
            >
              <option *ngFor="let layer of layers" [value]="layer.value">
                {{ layer.label }}
              </option>
            </select>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <div id="weatherMap" class="glass-bg p-3" style="height: 450px;"></div>
        </div>
      </div>
    </div>
  </div>